.main ul {
  list-style: none; 
  padding-left: 20%;
  padding-top: 15%;
}
.main a {
  text-decoration: none; 
  background:#4CAF50; 
  color:#FFFFFF; 
  padding:15px; 
  font-family: "Roboto", sans-serif;
  font-size: 14pt;
  border-radius:4px; 
  text-transform: uppercase;
}
.main li {
  float:left; 
  margin-right:20px; 
}
.form {
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 100px;
  text-align: center;
}
.form textarea{
  width: 98%;
}
.form input {
  font-family: "Roboto", sans-serif;
  background: #f2f2f2;
  width: 100%;
  border: 0; 
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
}